.key {
	width: 100px;
	margin: 2px;
	margin-right: 10px;
}

path {
	fill: none;
	stroke:blue;
	stroke-width: 0.04;
}

path.selected {
	stroke: red;
	stroke-width: 0.07;
}

circle.selected {
	fill: green;
}

#selectbox {
	fill: blue;
	opacity: 0.3;
}

path.building-yes {
	fill: pink;
	stroke: darkred;
}

circle.shop-supermarket {
	fill: purple;
}